_nyc = list(map(lambda x:'USA-NYM-'+x, ['BRO','MAN','QUE']))
_nj = ['USA-NYM-NEW']
_dc = ['USA-WAS-DIS', 'USA-WAS-BAL']
_chi = ['USA-CHI-CIT']

apikey = 'hstaoeshtnaoeushtnaoeustnoae' # for 3taps
http_proxy = 'us.proxymesh.com:31280'
http_proxy_username = 'tlevine'
http_proxy_password = 'ntsaoeuhaoeuhnsaoeuhtnaoeushnaeu'
regions = _nyc + _nj

locations = [('region', region) for region in regions] + \
    [('city', 'USA-AUT-AUS'), ('city','USA-POR-POR')]
